/* Rules */
* {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #2F3E46;
}
h1 {
  color: #F67E7D;
  font-size: 40px;
  font-family: 'Mitr', sans-serif;
  margin: 20 0 0 0;
}
h3 {
  font-size: 27px;
  margin: 0;
}
header {
  margin: 0 auto;
  min-width: 50%;
}
footer {
  text-align: center;
  width: 100%;
  padding: 15;
  font-size: 13;
}
body {
  background-color: #E8EBE4;
  margin: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;  
}
a:hover {
  color: #F67E7D;
}
p, li {
  text-align: justify;
}
ul {
  list-style: none;
}
.avatar {
  width: 180;
  height: 210;
}
.social-icon {
  height: 50;
  width: 50;
  padding: 10 5 0 5;
}
/* Specific styles */
header, #menu, #content {
  text-align: center;
}
#menu {
  margin: 0 auto;
  min-width: 50%;
}
#menu ul {
  padding: 0;
}
#menu ul li {
  display: inline;
  margin: 0 15 0 15;
  font-size: 18px;
}
footer > span {
  clear: both;
  display: block;
}
#content {
  width: 80%;
  margin: 50 auto;
  position: relative;
}
#content {
  font-size: 18px;
}
#about .avatar {
  float: right;
  margin: 0 0 35 35;
}
#presentations > ul > li {
  font-size: 16;
}
#contact-info a:first-child {
  display: block;
  width: 60px;
}
#work ul {
  padding: 0;
}
/* Responsive Media Queries */
@media screen and (max-width:568px) {
  h1 {
    font-size: 25px;
    margin: 0;
  }
  h3 {
    font-size: 15px;
  }
  li a {
    font-size: 15px;
  }
}
@media (max-width: 610px) {
  .avatar {
    float: none !important;
    margin: 0 0 10px 0 !important;
  }
}
@media (min-width:768px) {
  footer {
    position: fixed;
    bottom: 45px;
  }
}
@media (min-width:1024px) {
  footer {
    position: fixed;
    bottom: 0px;
  }
}